HOTBOX_PORT=4001

HOTBOX_DATABASE=hotbox
HOTBOX_DB_HOST=127.0.0.1
HOTBOX_DB_PORT=3306
HOTBOX_DB_USERNAME=admin
HOTBOX_DB_PASSWORD=admin

HOTBOX_S3_HOST=127.0.0.1:9000
HOTBOX_S3_ACCESS_KEY=admin_key
HOTBOX_S3_SECRET_KEY=admin_secret
HOTBOX_S3_BUCKET=hotbox